# Expo
.expo/
.expo-shared/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TypeScript
*.tsbuildinfo

# Temporary files
*.log
*.tmp
.env
.env.local

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
